/build/
siatur/siatur-web/src/main/webapp/WEB-INF/jboss-web.xml

.classpath
*.project
.settings/.jsdtscope
*.prefs
*.component
.settings/org.eclipse.wst.common.project.facet.core.xml
*.container
.settings/org.eclipse.wst.jsdt.ui.superType.name

